$color-midnight-blue: #162351;
$color-khaki: #997D5C;
$color-beige: #F2E7D3;
$color-pale-steel-blue: #96AEC4;
$color-white: #FFFFFF;

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}
